<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536964929602-tbuh0bpijtbmajbffhd34jlcscjoi1sa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536964929602-tbuh0bpijtbmajbffhd34jlcscjoi1sa</string>
	<key>API_KEY</key>
	<string>AIzaSyBDbOOFCSah_hLTYqs8yq3elzYPBr9XR5M</string>
	<key>GCM_SENDER_ID</key>
	<string>536964929602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPfe</string>
	<key>PROJECT_ID</key>
	<string>pfe-flutter-75ff7</string>
	<key>STORAGE_BUCKET</key>
	<string>pfe-flutter-75ff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536964929602:ios:d0345399910792f67c75db</string>
</dict>
</plist>